<h1>Аутентификация JWT</h1>
<form method="post" [formGroup]="form1" (ngSubmit)="onSubmit()" name="form1" id="form1" style="background-color:DeepSkyBlue;">
    <p>Логин <input formControlName="email" name="email" type="text" placeholder="введите имэйл"
        [ngClass]="{'invalid': form1.get('email')?.invalid && form1.get('email')?.touched}"> </p>
    
    
    <span style="color: red;" *ngIf="form1.get('email')?.invalid && form1.get('email')?.touched">
       
    <span *ngIf="form1.get('email')?.errors?.['required']">
        Email не должен быть пустым</span>
    <span *ngIf="form1.get('email')?.errors?.['email']">
        Ошибка ввода Email </span>    
    
    </span>
    
    <p>Пароль <input formControlName="password" name="password" type="text" placeholder="введите пароль"
         [ngClass]="{'invalid': form1.get('password')?.invalid && form1.get('password')?.touched}"> </p>
<!--     <p><input name="submit" type="submit" value="push!"> </p> -->
    <span *ngIf="form1.get('password')?.invalid && form1.get('password')?.touched">
        некорректный пароль</span> 
     <button type ="submit"  [disabled] ="form1.invalid">
        кнопка
     </button>


</form>